<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Shiro 框架 bean配置-->

    <!--安全管理器bean
      1、配置参数，告诉管理器使用的缓存技术
      2、realm:负责获取处理数据的
    -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <!--
        session会话模式
        <property name="sessionMode" value="nativwe"/>-->
        <property name="realm" ref="jdbcRealm"/>
    </bean>
    <!--realm-->
    <bean id="jdbcRealm" class="cn.lq.shiro.realm.MyRealm">

    </bean>
<!--我们可以使用的缓存技术
    ehcach缓存框架（默认hibernate缓存技术）
-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
<!--
        <property name="cacheManager" ref="ehCacheManager"/>
-->
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>
    <!--Spring配置 管理当前shiro当中的对象的生命周期
    必须要有这样的实例，用来管理Spring容器当中的shiro常见的对象
    -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!--启用shiro中的注解-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <!--网络方面-->
    <bean id="secureRemoteInvocationExecutor" class="org.apache.shiro.spring.remoting.SecureRemoteInvocationExecutor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
<!--
配置ShiroFilter
1、shiroFilter这个bean的id必须与web.xml文件中Shiro过滤器的filter-name保持一致
-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--过滤器使用的安全管理器-->
        <property name="securityManager" ref="securityManager"/>
        <!--当前web应用程序的欢迎页面-->
        <property name="loginUrl" value="/login.jsp"/>
        <!--登录认证成功后跳转的页面-->
        <property name="successUrl" value="/success.jsp"/>
        <!--登录认证失败后跳转的页面-->
        <property name="unauthorizedUrl" value="/error.jap"/>

        <!--代表我们要完成Shiro过滤器的具体配置-->
        <property name="filterChainDefinitions">
            <value>
                <!--anon未登录可以访问的URL，authc不可访问的URL-->
                <!-- /login.jsp = anon -->
               /** = authc
            </value>
        </property>
    </bean>
</beans>